.orange{
  background-color: orange;
  padding: 50px 20px;
}
.purple{
  background-color: purple;
  height: 75px;
}
.black{
  background-color: black;
  height: 30px;
}
.pink{
  background-color: pink;
  height: 100px;
}
.yellow{
  background-color: yellow;
  height: 100px;
}
.green{
  background-color: green;
  height: 75px;
}
.red{
  background-color: red;
  height: 50px;
}
div{
  border: 1px solid black;
}
/*media queries*/
@media only screen and (max-width: 800px) {
  .red {
    background-color: blue;
  }
}
@media only screen and (min-width: 768px){
  .yellow {
    background-color: purple}
}
@media only screen and (min-width:  375px) and (max-width: 768px) {
  .black {
    background-color: white}

}
